[submodule "packages/apps/evm/lib/forge-std"]
	path = packages/optimistic-oracle/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/apps/evm/lib/openzeppelin-contracts"]
	path = packages/optimistic-oracle/evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
